~$*
*.bak
*.ddk
*.edk
*.lst
*.lnp
*.mpf
*.mpj
*.obj
*.omf
*.plg
*.rpt
*.tmp
*.__i
*.crf
*.o
*.d
*.axf
*.tra
*.dep           
JLinkLog.txt
*.iex
*.htm
*.sct
*.map


*.DS_Store
*.out
*.swp

*.uvgui.*
*.hex
*.lib
*.bak
*.dep
Obj
.vscode-ctags
Project/NewFW_SVN.uvguix.01295
Project/Obj/F2_FCT_V1.0.0_20190613
Project/build.log
